html, body
  width 100%
  height 100%
  user-select none
  -webkit-touch-callout none
  -webkit-user-select none
  
html
  overflow hidden
  background-color white

body
  overflow auto
  font-family 'Helvetica Neue', sans-serif
  
@import 'colors'
@import 'icons.css'
@import 'transitions'
@import 'searchbar'
@import 'storylist'
@import 'story'
@import 'storydetail'
@import 'storysession'
@import 'stats'

@import 'calendar'