$secondary-colour = blue_strong
$spacing = 10px
$icon-width = 40px
$day-width = 100% / 7

border-box()
  box-sizing border-box
  -webkit-box-sizing border-box

.st-calhours
  background-color #eee
  border-radius 3px
  padding 4px
  margin-left 5px

.st-calendar
  display block
  border-box()
  background white
  width 100%
  border solid 1px $border-colour
  margin-bottom 10px

  .header
    position relative
    width 100%
    background blue_strong
    color white

    i
      position absolute
      top 10px
      width $icon-width
      font-size 1.125em
      font-weight bold
      border-box
      padding 0 $spacing
      cursor pointer
      
    > i.icon-arrow-left
      left 10px
      text-align left
      
    > i.icon-arrow-right
      right 10px
      text-align right
      
    > span
      display block
      width 100%
      font-weight bold
      text-transform uppercase
      border-box
      padding 10px 0
      text-align center
      color inherit
      
      i.icon-cross
        position absolute
        right 80px

  .week
    display block
    width 100%
    border-top solid 1px $border-colour
    
    &:first-child
      border-top none
      
    span.day
      position relative
      display inline-block
      width $day-width
      padding 10px 0
      border-box
      border-left solid 1px $border-colour
      font-size 0.75em
      text-align center
      background white
      cursor pointer
      color black
      
      &:first-child
        border-left none
      
      &.today
        background blue_faded
        
      &.different-month
        color #C0C0C0
        
      // &.selected
      //   background $secondary-colour
      //   color white
      
    &.names
      span
        color $secondary-colour
        font-weight bold