grey_base = #ECEFF1

blue_base = #03A9F4

blue_faded = #E1F5FE
blue_light = #B3E5FC
blue_border = #81D4FA
blue_strong = #0288D1
blue_emphasis = #01579B

hint_base = #80CBC4
hint_strong = #4DB6AC
hint_emphasis = #009688