.st-search
  position relative
  padding 0 10px
  min-height: 40px
  border-bottom 1px solid transparent
  z-index 2
  transition all 0.5s ease-out
  
  &.scrolling
    border-bottom 1px solid blue_border
    box-shadow 0 2px 3px rgba(0,0,0,0.1)
  
  input
    width 84%
    padding 15px 0px
    font-size 1.1em
    border 0
    outline none
    
  i
    position absolute
    top 14px
    font-size 1.3em
    color blue_border
    padding 0 5px
    height 25px
    line-height 1.4em
    cursor pointer
    
    &:hover
      color blue_emphasis
    
    &.icon-cog
      right 30px
    
    &.icon-cross
      right 5px
    
  .rotate
    -webkit-transition-duration 0.8s
    -webkit-transition-property -webkit-transform, color
    overflow hidden
    
  .rotate:hover
    -webkit-transform rotate(180deg)
    -moz-transform rotate(180deg)
    -o-transform rotate(180deg)
    
.st-search-hint
  position absolute
  left 10px
  right 10px
  color hint_base
  padding-bottom 7px
  padding-left 5px
  background-color rgba(255,255,255,1);
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  box-shadow 0 2px 3px rgba(0,0,0,0.1)
  
  b
    font-weight normal
    color hint_emphasis