.st-storysession
  border 1px solid transparent
  padding 2px 4px 2px 0
  cursor pointer
  
  span
    display inline-block
    
  .st-storyday
    min-width 45px
    color #999
    letter-spacing .1em
  
  &:hover
    cursor pointer
    border 1px solid #ccc