.st-main
  background-color #fff

.st-storylist
  position absolute
  top 52px
  left 0
  right 0
  bottom 0
  overflow-y scroll
  
.st-storylist-empty
  padding 30px 20px 0 30px
  
  div
    color #AAA
    display block
    font-size 1.7em
    
    b
      font-weight normal
      color #888
    
    &.small
      margin-top 10px
      font-size 1em