.st-storydetail
  padding 12px
  background-color #fff
  
  .st-detail-header > span
    display block
  
  .st-detail-project
    color blue_strong
    font-size 0.85em
    text-transform uppercase
    margin-bottom 5px
    
  .st-detail-name
    color blue_emphasis
    font-size 1.1em
    padding-bottom 8px
    border-bottom 1px solid #ddd
    margin-bottom 10px
  
  .st-detail-input
    position absolute
    top -50px
    right -100px
    
  ul.st-detail-hours
    list-style none
    padding 0
    margin 0

    li
      display inline-block
      margin-right 20px
      padding-left 0em
      text-indent .2em
      
      &:before
        content "\2014"
        color blue_border
      
      &.st-storysession-active
        color blue_strong
        
        &:before
          color blue_strong
          font-family "icomoon"
          content "\e052"
          -webkit-animation flickerAnimation 1s infinite