.st-storydetail
  padding 12px
  background-color #fff
  
  .st-detail-header
    position relative
    padding-bottom 8px
    border-bottom 1px solid #ddd
    margin-bottom 10px
  
    span
      display block
      margin-left 25px
  
    i
      cursor pointer
      position absolute
      top 0px
      font-size 1.3em
      padding 10px 0
      color blue_border
      
      &:hover
        color blue_strong
    
  .st-detail-footer
    position absolute
    font-size 0.9em
    color hint_base
    bottom 10px
  
  .st-detail-project
    color blue_strong
    font-size 0.85em
    text-transform uppercase
    margin-bottom 5px
    
  .st-detail-name
    color blue_emphasis
    font-size 1.1em
  
  .st-detail-input
    position absolute
    top -50px
    right -100px
    
  ul.st-detail-hours
    list-style none
    padding 0
    margin 0

    li
      display inline-block
      margin-right 20px
      padding-left 0em
      text-indent .2em
      
      &.vertical
        display block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
          
        i
          font-style normal
          color #777
      
      &:before
        content "\2014"
        color blue_border
      
      &.st-storysession-active
        color blue_strong
        
        &:before
          color blue_strong
          font-family "icomoon"
          content "\e052"
          -webkit-animation flickerAnimation 1s infinite