.st-storydetail
  padding 12px
  background-color #fff
  
  .st-detail-header > span
    display block
  
  .st-detail-project
    color #888
    font-size 0.85em
    text-transform uppercase
    margin-bottom 5px
    
  .st-detail-name
    color #3D7DA5
    font-size 1.1em
    padding-bottom 8px
    border-bottom 1px solid #ddd
    margin-bottom 10px
  
  .st-detail-input
    position absolute
    top -50px
    right -100px