@import './styles/fonts.styl'

html, body {
  width: 100%
  height: 100%
  margin: 0; padding: 0;
  font-family: "Lato-Light";
}

stsummary {
  position: absolute
  top: 0
  left: 0
  right: 0
  background-color: #F0F0F0
  padding: 10px
  border-bottom: 1px solid #DDD

  h1 {
    margin: 0
    font-size: 1.3em
    font-weight: normal
  }
}

stlistview {
  position: absolute
  top: 42px
  bottom: 42px
  left: 0
  right: 0
  overflow-y: auto

  ul {
    margin: 0
    padding: 0
  }

  li {
    padding: 10px
    border-bottom: 1px solid #EEE
  }
}

stsearch {
  position: absolute
  background-color: #F0F0F0
  border-top: 1px solid #DDD
  height: 40px
  left: 0
  right: 0
  bottom: 0
}
